.layout.mixed > div {
  &:nth-child(1) {
    animation: floating1 4s infinite ease-in-out;
  }

  &:nth-child(2) {
    animation: mixed-pulse 2.66s infinite linear;
  }

  &:nth-child(3) {
    transform-origin: center center;
    animation: mixed-open 8s infinite ease;
  }

  &:nth-child(4) {
    animation: mixed-pulse 2.66s infinite linear;
  }

  &:nth-child(5) {
    animation: rotate3d-2 2.66s infinite ease-in-out;
  }

  &:nth-child(6) {
    animation: mixed-pulse 2.66s infinite linear;
  }
}

@keyframes mixed-open {
  0%,
  100% {
    transform: rotate3d(1, 1, 1, 0);
  }
  20% {
    transform: rotate3d(1, 0, 0, 180deg);
  }
  40% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  80% {
    transform: rotate3d(1, 1, 1, 180deg);
  }
}

@keyframes mixed-pulse {
  0% {
    transform: rotate3d(0, 1, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
