* {
  box-sizing: border-box;
}

i {
  font-style: normal;
}

u,
s {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica;
  font-size: 16px;
}

svg {
  width: 1em;
  height: 1em;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  body {
    font-size: 11px;
  }
}
